{% extends "base_template.html" %}
{% block title %} Veer Reddy Sathi | {{ block.super }} {% endblock title %}

{% load static %}

{% block content %}
<div class="parallax">
	<div class="row knowmore">
		<div class="col-sm-5 col-sm-offset-7 intro">
			<strong><h1 id="content1">Hej och Välkommen!!</h1></strong>
			<strong><h2 id="content1">Are you looking for a Software Developer?</h2></strong>
			<strong><h3 id="content1">Feel free to have a look around and know more about me, my education, my previous roles, things I've developed, and if you find that I am what you're looking for then lets get in <a href="#personality">touch!</a></h3></strong>
		</div>
	</div>
</div>

<div  class="personality parallax" id="personality">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<strong><h1 class="personality-heading intro" id="content1">Personality Traits</h1></strong>
			<img class="personality-image" src="{% static 'img/personality.png' %}">
		</div>
	</div>
</div>

<!--<div class="parallax" id="parallax1"></div>-->
{% endblock %}