{% extends "base_template.html" %}
{% block title %} Home | {{ block.super }} {% endblock title %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Hello and Welcome! Are you looking for a Software Developer?</h1>
				</div>
			</div>
		</div>
	</div>
    <div>
        <div class="container">
            <div class="row">
                <div class="h1 cg-font">LOOKING FOR A WEB DEVELOPER?</div>
                <div class="h2 cg-font">HEJ, I'M A WEB DEVELOPER & PROGRAMMER LIVING IN SWEDEN. I MAKE WEB APPLICATIONS
                    USUALLY IN DJANGO
                </div>
            </div>
        </div>
    </div>
{% endblock %}