{% extends "base_template.html" %}

{% block title %} Education | {{ block.super }} {% endblock title %}

{% load static %}

{% block content %}
<style>
ul {
	list-style-type: square;
    list-style-image: url("{% static '/img/arrow.png' %}");
}
</style>
<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="jtron-title">Experience</h1>
					</div>
				</div>
			</div>
</div>
<div class="container bcrumb content-container">
	<div class="row">
	<div class="col-xs-12">
	<div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
					<li><a href="/#/">Home</a></li>
					<li class="active">Experience</li>
				</ol>
            </div>
    </div>
    <div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-push-3">
		<img src="{% static '/img/wip.jpg' %}" align="center">
		</div>
	</div>
	</div>	
	</div>
<hr>
	{% include "snippets/footer.html" %}
</div>
{% endblock %}