    <footer class="footer-div">
        <div class="container">
			<div class="row">
					<div class="col-xs-6 col-sm-2 col-sm-offset-1">
						<h5>Links</h5>
						<ul class="list-unstyled">
							<li><a href="/#/">Home</a></li>
							<li><a href="/education/">Education</a></li>
							<li><a href="/experience/">Experience</a></li>
							<li><a href="contactus.html">Contact</a></li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-5">
						<h5><strong>Currently Located in:</strong></h5>
						<address>
						  Lund, Sweden<br>
						</address>
					</div>
					<div class="col-xs-12">
						<p style="padding:10px;"></p>
						<p align=center>© Copyright 2018 Veer Reddy Sathi</p>
					</div>
			</div>
        </div>
    </footer>