body{
	background-color: #000000;
}

.login-nav {
	padding-left: 20px;
}

.logos {
	width: 200px;
	height: 200px;
}

.durations {
	padding-top: 60px;
	color: #FF611A;
}

.content-container {
	background-color: #FFFFFF;
}

.bcrumb {
	width: 90%;
}

.breadcrumb > li > a {
	color: #000000;
}

jumbotron > .jtron-title {
	padding-right: 10%;
}

.footer-div {
	background-color: #D3D3D3;
}

.nav-pills > li.active > a {
       background-color: #000000 !important;
}

.nav-pills > li > a  {
       color: #000000;
}

.container {
  margin-top: 40px;
  padding-top: 20px;
  /*background-color: #beb*/
}
.vertical {
  display: inline-block;
  width: 150px;
  height: 40px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}