body{
	background-color: #000000;
	position: relative;
}

body, html {
	height: 100%;
}

.parallax {
    /* The image used */
	background-image: url("/static/img/veer.jpg");

    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
	background-color: #000000;
}

.knowmore {
	padding-top: 15%;
}

#content1 {
	color: #FFFFFF;
}

.personality {
	height: 100%;
	padding-top: 5%
}

.personality-heading {
	text-align: center;
}

.personality-image {
	width: 100%;
	height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {

  .media > .col-xs-12 > img {
	  margin-bottom: 10px;
  }
  
  .media > .media-body > .media-heading {
    padding-top: 20px;
	margin-bottom: 10px;
  }
  
  .personality {
	  height: 100%;
	  padding-top: 30%;
	  background-color: #000000;
  }
}

.login-nav {
	padding-left: 20px;
}

.logos {
	width: 200px;
	height: 200px;
}

.content-container {
	background-color: #FFFFFF;
}

.bcrumb {
	width: 90%;
}

.breadcrumb > li > a {
	color: #000000;
}

jumbotron > .jtron-title {
	padding-right: 10%;
}

.footer-div {
	background-color: #D3D3D3;
}

.nav-pills > li.active > a {
       background-color: #000000 !important;
}

.nav-pills > li > a  {
       color: #000000;
}

.container {
  margin-top: 40px;
  padding-top: 20px;
  /*background-color: #beb*/
}

/* progress bar styles for skills page */

.progress {
	height: 35px;
}

.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

/* skills page CSS */
.vcs-logos {
	width: 100%;
	height: 30%;
}

.bit-bucket {
	padding-top: 10%;
}

.ide-logos {
	width: 90%;
}

.ide > p, .os > p, .other-tools > p {
	text-align: center;
}

.os > img, .other-tools > img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 60%;
}
